<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    
    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<File>log/matrix.log</File>
    	 <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		    <!-- daily roll over -->
			<FileNamePattern>matrix.%d{yyyy-MM-dd}.log</FileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>			
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
		</encoder> 	    
  	</appender>
  	
    <logger name="org.springframework.web" level="DEBUG" />
    <logger name="skunkworks.matrix" level="INFO" >
		<appender-ref ref="dailyRollingFileAppender"/>
    </logger>
</configuration>